<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<h2>View a Member`s Borrows</h2>
<br><br>

<div id="topSec">
    <form id="inputEmail" class="mx-left p-2">

        <label for="memberEmail"> Please input member`s email address (lowercase, without spaces)</label>
        <input class="form-control w-50" type="text" name="memberEmail" id="memberEmail">

        <input class="mt-2" type="submit" name="Add" id="emailSubmit" value="Submit">
    </form>
</div>


<br><br>
<br><br>
<h2 id="borrowTableTitle"></h2>
<div id="borrowTable">
</div>


<script src="borrows.js"></script>
