<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Book Management System</title>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body class="ml-md-5">

<!-----------------------------------------------------------------------------
  Page Listings and Descriptions
------------------------------------------------------------------------------->

  <h1 class="mt-2">Book Management System</h1>
  <ul class="list-unstyled">
    <li>
      <a href="/authors.html">Add Authors</a>
    </li>
    <li>
      <a href="/categories.html">Add Categories</a>
    </li>
    <li>
      <a href="/borrows.html">View Borrows and Return Books</a>
    </li>
    <li>
      <a href="/search.html">Search Books by Author, Category or Title and Checkout Books</a>
    </li>
    <li>
      <a href="/members.html">Add, Update, Delete Members</a>
    </li>
    <li>
      <a href="/books.html">Add or Remove Books</a>
    </li>

</body>

</html>
