<!-----------------------------------------------------------------------------
  Page Listings and Descriptions
------------------------------------------------------------------------------->

<h1 class="mt-2">Book Management System</h1>
<ul class="list-unstyled">
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/authors">Add Authors</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/categories">Add Categories</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/borrows">View Borrows and Return Books</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/search">Search Books by Author, Category or Title</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/login">Member Log In Page</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/members">Add, Update Members</a>
	</li>
	<li>
		<a href="http://flip1.engr.oregonstate.edu:3956/books">Add or Remove Books</a>
	</li>