 	  
<!-----------------------------------------------------------------------------
  Page Listings and Descriptions
------------------------------------------------------------------------------->

<h1 class="mt-2">Book Management System</h1>
<ul class="list-unstyled">
  <li>
   	<a href="/authors">Add Authors</a>
  </li> 
  <li>
   	<a href="/categories">Add Categories</a>
  </li> 
  <li>
   	<a href="/borrows">View Borrows and Return Books</a>
  </li> 
  <li>
   	<a href="/search">Search Books by Author, Category or Title</a>
  </li> 
  <li>
   	<a href="/members">Add, Update, Delete Members</a>
  </li> 
  <li>
   	<a href="/books">Add or Remove Books</a>
  </li>    	
</ul>
