<head>
    <meta charset="utf-8">
    <title>Authors Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

	<div class="header_img">
		<img src="login_img.png">
	</div>
	<br><br>
	<br><br>

	<h2>Log in to access your account</h2>
	<br><br>

	<form method="POST">
		<label for="memberID">Member ID (without spaces):</label>
		<br><br>
		<input type="text" id="memberID">
		<br><br>
		<label for="password">Password:</label>
		<br><br>
		<input type="text" id="password">
		<br><br>
		<input onclick="window.location.href = 'Search.html';" type="submit" id="loginSubmit" value="Log In">
	</form>