<head>
    <link rel="stylesheet" href="css/style.css">
</head>


<h2>Browse the Catalog</h2>
<form id="searchForm" method="POST">
    <legend>Search By:</legend>
    <br>
    <label>
        <input type="radio" name="searchBy" value="author" />Author</label>
    <br>
    <label>
        <input type="radio" name="searchBy" value="category" />Category</label>
    <br>
    <label>
        <input type="radio" name="searchBy" value="title" />Book Title</label>

    <br><br>
    <label for="searchInput">Add a search term (author name or category name or book title):</label>
    <br>
    <input type="text" name="searchInput" id="searchInput">
    <br><br>
    <input type="submit" id="searchSubmit" value="SEARCH">

</form>

<br><br>
<br><br>

<h2>Search Results:</h2>
<div id="searchDiv">
    <table id="searchResult">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Availability</th>
            </tr>
        <tbody id="tableBody">

        </tbody>
        </thead>
    </table>
    <br><br>

    <input type="submit" id="borrowSubmit" value="BORROW">
</div>

<script src="search.js"></script>
